@import "tailwindcss";

:root {
  --bg-color: #fdfdfd;
  --primary-text-color: #333;
  --secondary-text-color: #666;
  --main-color: #754ef9;
  --white-color: #fdfdfd;

  --border-color: rgba(0, 0, 0, .2);
  --shadow-color: rgba(0, 0, 0, .1);
}

.dark-mode {
  --bg-color: #0b061f;
  --primary-text-color: #fdfdfd;
  --secondary-text-color: #999;
  --border-color: rgba(255, 255, 255, .2);
  --shadow-color: rgba(255, 255, 255, .2);
}

@theme inline {
  --color-background: var(--bg-color);
  --color-primary-foreground: var(--primary-text-color);
  --color-secondary-foreground: var(--secondary-text-color);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--main-color);
  --color-secondary: var(--white-color);
  --color-shadow: var(--shadow-color);
  --color-border: var(--border-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
